body {
    background-image: url(images/a2background.jpg);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

#content {
    background: rgba(151, 170, 189, 0.8);
    padding: 20px;
    width: 65%;
    margin: auto;
    border-radius: 40px;
}

#main_h1 {
    text-align: center;
    color: #FAED26;
}

#home_h2, #lense_h2, #frame_h2 {
    color: #FAED26;
}

#home_p, #lense_p, #frame_p {
    color: #FEF9C7;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
  
#main-nav li {
  float: left;
}
  
#main-nav a {
  display: table;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 4px 8px;
  text-decoration: none;
}
  
#main-nav a:hover {
  background-color: darkgrey;
  text-decoration: underline yellow;
}

#model-table td {
    padding: 5px;
    text-align: center;
    border: 2px ridge burlywood; /*ridge/inset/double*/
    background-color: gainsboro;
}

label {
  color: #FAED26;
  text-decoration: underline;
}

#list-frame, #list-lense li {
  color: darkslateblue;
  text-align: left;
  list-style: square;
}

#home_img, #lense_img, #frame_img {
  padding: 20px;
  border: transparent;
}