body {
    background: #C96567;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

div {
    background: #97AABD;
    padding: 20px;
    width:75%;
    margin: auto; /* Center horizonally */
}

h1 {
    text-align: center;
    color: #FAED26;
}

h2 {
    color: #FAED26;
}

p {
    color: #FEF9C7;
}

 .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navigation li {
    float: left;
  }
  
  .navigation a {
    display: table;
    color: white;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
  }
  
  .navigation a:hover {
    background-color: gray;
  }

td {
    padding: 5px;
    text-align: center;
    border: 2px ridge burlywood; /*ridge/inset/double*/
    background-color: gainsboro;
}

.list li {
  color: darkslateblue;
  text-align: left;
  list-style: square;
}

.list label {
  color: #FAED26;
  text-decoration: underline;
}