/* Styles for everything */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(sitebackground.png);
    margin: 5%;
    margin-top: 0;
    padding: 0px;
}

#main-header, #assignment-cols, .assign-sep, .assign-sep img, #main-footer, .footer-list-div {
    padding: 10px;
    margin: 5px;
}

#assignment-cols section {
    background: rgba(124, 145, 194, 0.9);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(98, 116, 158, 0.603);
    margin: 20px;
}

#assignment-cols a {
    text-decoration: none;
    color: black;
}

.footer-list-div li {
    list-style-type: circle;
}

.footer-list-div a {
    text-decoration: none;
    color: #FFD000;
    padding: 0px 5px;
    font-size: 18px;
}

.footer-list-div a:hover {
    border-bottom: 2px solid white;
}

#main-footer {
    background: rgba(124, 145, 194, 0.9);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 5px rgba(98, 116, 158, 0.603);
    justify-content: space-around;
}

#special {
    justify-content: center;
}

#main-footer ul {
    font-size: larger;
    padding: 0px;
}

#main-header section h4 {
    text-decoration: solid firebrick;
}

/* Headers */
h1, h2, h4, h3, h5, p {
    text-align: center;
    color:white;
    padding: 0px;
}

#main-header {
    padding: 0px;
}

#main-header-name {
    text-align-last: left;
}

@media(min-width:900px) {
    #assignment-cols, #assignment-cols, #main-footer, #footer-content section, .footer-list-div {
        display: flex;
    }

    .assign-section, #footer-content section, #footer-content section, .footer-list-div {
        flex: 1;
    }

    #assignment-cols {
        justify-content: space-evenly;
    }

    #assignment-cols section {
        transition: 1s ease;
    }

    #assignment-cols section:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition: 1s ease;
    }

    #footer-content ul {
        display: flexbox;
        flex:2;
    }

    #footer-content {
        flex: 2;
    }
    
}




/* Color pallet

#223C74 // margin
#3E61A8
#7C91C2 // div
#C3D8F5 //
#0C345A
*/