body {
    background-image: url(sitebackground.png);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#content {
    background: rgba(124, 145, 194, 0.9);
    padding: 20px;
    width: 65%;
    margin: auto; /* Center horizonally background: #223C74;*/
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(98, 116, 158, 0.603);
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2, h5, p {
    color: whitesmoke;
}

h1, h5, p {
    text-align: center;
}

li {
    list-style-type: circle;
}

a {
    text-decoration: none;
    font-size: 18px;
    padding: 0px 5px;
    color: #FFD000;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px solid white;
}

/*
#223C74 // margin
#3E61A8
#7C91C2 // div
#C3D8F5 //
#0C345A
*/