body {
    font-family: Arial, Helvetica, sans-serif;
    background: #2B3136;
}

#all-content {
    background: #30373D;
    margin: 2% 10% 0 10%;
    border: 4px solid transparent;
    border-radius: 5px;
    height: 100%;
}
/* START MAIN TITLE */
.main-title {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(60, 60, 60);
}

.main-title h1 {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 35px;
    color: #EAC26E;
}

.main-title button {
    margin-right: 15px;
}

.add-button {
    background-color: transparent;
    color: #EAC26E;
    text-align: center;
    width: 20%;
    padding: 8px 28px;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #37A1E3;
}
  
.add-button:hover {
    background-color: #525252;
}
/* END MAIN TITLE */
/* START POP OUT */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 300%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #22282C;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #525C64;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.add-form {
    background:#22282C;
    padding:5px;
    width:80%;
    margin:5px;
    border-radius:5px;
    text-align: center;
    color: #F1C15E;
}

.add-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.add-form button:hover {
    background-color: black;
    color: white;
}

.edit-form {
    background: #22282C;
    padding: 5px;
    width: 80%;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    color: #F1C15E;
}

.edit-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.edit-form button:hover {
    background-color: black;
    color: white;
}

.delete-form {
    background:#22282C;
    padding:5px;
    width:80%;
    margin:5px;
    border-radius:5px;
    text-align: center;
    color: #F1C15E;
}

.delete-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.delete-form button:hover {
    background-color: black;
    color: white;
}

#btn-delete-player:hover {
    background: #facf5a;
}

.container-fade {
    position: relative;
    width: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.container-fade:hover .overlay {
    opacity: 1;
}

.list-out {
    margin: 4px;
    padding: 2px;
    border: 1px solid #3C3C3C;
}

.profile {
    margin-left: 15px;
}

.profile h2 {
    margin-bottom: 0px;
    padding-bottom: 8px;
    color: #EAC26E;
}

#player-list {
    padding-left: 4px;
}

.player {
    width: 97.5%;
    background: #414850;
    box-shadow: 0px 6px 0px 1px #2B3238;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;
    color: #EAC26E;
}

.player a {
    text-decoration: none;
}

.playertexth2 {
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: large;
}

.playertexth4 {
    margin-top: 1px;
    margin-left: 5px;
    color: #C1CAD4;
}

.hidden {
    display:none;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.innerButtons {
    background-color: transparent;
    border: none;
    color: black;
    padding: 20px 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.innerButtons:hover {
    background-color: black;
    color: white;
  }

  .success {
    background:#03a679;
    color:#03a679;
  }
  
  .failure {
    background:#ff3939;
    color:#ff3939;  
  }

  .notify {
      position: absolute;
      top: 0%;
      width: 78.6%;
      margin: 0%;
      border-radius: 10px;
      text-align: center;
      background: black;
      overflow: hidden;
      transition: height .2s;
  }
  
  #notifyType:before{
    display: block;
    margin-top: 15px; 
    
  }
  
  .active {  
    height: 50px;
  }
  
  .success:before {
    Content:"Success! Player profile updated";
  }
  
  .failure:before {
    Content:"Oh no! Something went wrong! Try again.";
  }