/* James Alec Farmer */
/* Start Page Format */
body {
    font-family: "Karla", sans-serif;
    background: #2B3136;
}

#all-content {
    background: #30373D;
    margin: 2% 10% 0 10%;
    border: 4px solid transparent;
    border-radius: 5px;
    height: 100%;
}
/* End Page Format */

/* Start Main Title */
.main-title {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #4A545C;
}

.main-title h1 {
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 35px;
    color: #FFFFFF;
}

.main-title button {
    margin-right: 15px;
}

.add-button {
    background-color: transparent;
    color: #EAC26E;
    text-align: center;
    width: 20%;
    padding: 8px 28px;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #37A1E3;
}
  
.add-button:hover {
    background-color: #686868;
}
/* End Main Title */

/* Start Pop Out Format */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 300%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #22282C;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #525C64;
    width: 40%;
    border-radius: 10px;
}

/* End Pop Out Format */

/* Start Add Form */
.add-form ul {
    padding: 0;
	margin: 0;
	list-style: none;
}

.add-form ul li  .field-style {
    box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
    border: 1px solid #B0CFE0;
    border-radius: 10px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.add-form ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}

.add-form ul li .field-split {
    width: 49%;
}

.add-form ul li .field-full {
    width: 100%;
}

.add-form ul li {
    display: block;
	margin-bottom: 10px;
    min-height: 35px;
}

.add-form ul li button {
    text-align: center;
    margin: 0px 32%;
}

.add-form {
    background:#22282C;
    max-width: 450px;
    padding: 30px;
	margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
    color: #F1C15E;
}

.add-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    width: 35%;
}

.add-form button:hover {
    background-color: #686868;
    color: #F1C15E;
}
/* End Edit Form */

/* Start Edit Form */
.edit-form {
	max-width: 400px;
	margin: 20px auto;
	background: #22282C;
    padding: 20px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
	border: 6px solid #305A72;
    color: #F1C15E;
}

.edit-form ul {
	list-style:none;
	padding:0;
	margin:0;	
}

.edit-form h2 {
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #F1C15E;
}

.edit-form li {
	display: block;
	padding: 9px;
	margin-bottom: 30px;
    border-radius: 3px;
    width: 95%;
}

.edit-form li .field-split {
    width: 100%;
}

.edit-form li > label {
	display: block;
	margin-top: -19px;
	height: 14px;
	padding: 2px 5px 6px 5px;
	color: #F1C15E;
	font-size: 14px;
	overflow: hidden;
}

.edit-form ul li .field-style {
    box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
    border: 1px solid #B0CFE0;
    border-radius: 10px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.edit-form ul li .field-style:focus {
    box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}

.edit-form ul li {
    display: block;
	margin-bottom: 10px;
    min-height: 35px;
}

.edit-form ul li button {
    text-align: center;
    margin: 0px 32%;
}

.edit-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 6px 22px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.edit-form button:hover {
    background-color: #686868;
    color: #F1C15E;
}
/* End Edit Form */

/* Start Delete Form */
.delete-form {
    text-align: center;
    background:#22282C;
    max-width: 450px;
    padding: 30px;
	margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
    color: #F1C15E;
}

.delete-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.delete-form button:hover {
    background-color: #686868;
    color: #F1C15E;
}

#btn-delete-player:hover {
    background: red;
}
/* End Delete Form */

/* Start Player Profile text */
.profile {
    margin-left: 15px;
}

.profile h2 {
    margin-bottom: 0px;
    padding-bottom: 8px;
    color: #EAC26E;
}
/* End Player Profile text */

/* Start players */
.list-out {
    margin: 4px;
    padding: 2px;
    border: 1px solid #4A545C;
    border-radius: 10px;
}
#player-list {
    padding-left: 4px;
}

.player {
    display: flex;
    justify-content: space-between;
    width: 97.5%;
    background: #414850;
    box-shadow: 0px 6px 0px 1px #2B3238;
    padding: 5px;
    padding-left: 10px;
    padding-bottom: 2px;
    margin: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;
    color: #D8E9FF;
}

.playertexth2 {
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: large;
    text-decoration: none;
}

.playertexth4 {
    margin-top: 1px;
    margin-left: 5px;
    color: #FA8787;
}

.buttonSec {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-right: 8%;
}

.innerButtons {
    background-color: transparent;
    border: none;
    color: #EAC26E;
    padding: 2px 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.innerButtons:hover {
    background-color: #686868;
  }
/* End Players */

/* Start Notify Bar */
.success {
    background:#03a679;
    color:#03a679;
}
  
.failure {
    background:#ff3939;
    color:#ff3939;  
}

.notify {
    position: absolute;
    top: 0%;
    width: 78.6%;
    margin: 0%;
    border-radius: 10px;
    text-align: center;
    background: black;
    overflow: hidden;
    transition: height .2s;
}
  
#notifyType:before{
    display: block;
    margin-top: 15px;
}
  
.active {  
    height: 50px;
}
  
.success:before {
    Content:"Success! Player profile updated!";
}
  
.failure:before {
    Content:"Oh no! Something went wrong! Try again.";
}
/* End Notify Bar */

/* Start Misc */
.hidden {
    display:none;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.center {
    text-align: center;
}

.margin-edit {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/* End Misc */