body {
    font-family: Arial, Helvetica, sans-serif;
    background: #085f63;
}
/* START MAIN TITLE */
.main-title {
    text-align: center;
}

.main-title h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 35px;
    color:white;
}

.add-button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}
  
.add-button:hover {
    background-color: black;
    color: white;
}
/* END MAIN TITLE */
/* START POP OUT */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #ae3b3b;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #ae3b3b;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.add-form {
    background:#ae3b3b;
    padding:5px;
    width:80%;
    margin:5px;
    border-radius:5px;
    text-align: center;
    color: #facf5a;
}

.add-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.add-form button:hover {
    background-color: black;
    color: white;
}

.edit-form {
    background:#ae3b3b;
    padding:5px;
    width:80%;
    margin:5px;
    border-radius:5px;
    text-align: center;
    color: #facf5a;
}

.edit-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.edit-form button:hover {
    background-color: black;
    color: white;
}

.delete-form {
    background:#ae3b3b;
    padding:5px;
    width:80%;
    margin:5px;
    border-radius:5px;
    text-align: center;
    color: #facf5a;
}

.delete-form button {
    background-color: white;
    border: none;
    color: black;
    padding: 8px 28px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.delete-form button:hover {
    background-color: black;
    color: white;
}

#btn-delete-player:hover {
    background: #facf5a;
}



.container-fade {
    position: relative;
    width: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.container-fade:hover .overlay {
    opacity: 1;
}

#player-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.player {
    width:30%;
    background:skyblue;
    padding:5px;
    margin:5px;
    border-radius: 10px;
    text-align: center;
}

.player a {
    text-decoration:none;
}

.hidden {
    display:none;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.innerButtons {
    background-color: transparent;
    border: none;
    color: black;
    padding: 20px 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
    transition: 0.3s;
    border-radius: 20px;
    cursor: pointer;
}

.innerButtons:hover {
    background-color: black;
    color: white;
  }

  .success {
    background:#03a679;
    color:#03a679;
  }
  
  .failure {
    background:#ff3939;
    color:#ff3939;  
  }
  
  .notify {  
    position:absolute;
    top:0px;
    width:99%;
    height:0;  
    box-sizing:border-box;
    color:white;  
    text-align:center;
    background:#000000;
    overflow:hidden;
    box-sizing:border-box;
    transition:height .2s;
  }
  
  #notifyType:before{
    display:block;
    margin-top:15px; 
    
  }
  
  .active {  
    height:50px;
  }
  
  .success:before {
    Content:"Success!";
  }
  
  .failure:before {
    Content:"Oh no! Something went wrong! Try again.";
  }