body {
    font-family:Arial, Helvetica, sans-serif;
    /*background:#3b4a6b;*/
    background: linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));
}

.example {
    background:transparent;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    min-height: 200px;
}

#main-header h1 {
    text-align: center;
    color:#f0d43a;
}

/* Footer */
#main-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(170, 170, 170);
}

#main-footer div {
    text-align: center;
}

/* Large Resolutions Only */
@media(min-width:900px){
    #content {
        display: flex;
        flex-wrap: wrap;
    }

    .largewidth {
        width: 85%;
        margin: auto;
    }

    #breweries-section {
        display: flex;
        flex-wrap: wrap;
    }

    .brewery {
        width: 30%;
        /*background: #393e46;*/
        background: transparent;
        padding: 10px;
        margin: auto;
        margin-bottom: 30px;
        border-radius: 80px;
        box-shadow: 0px 0px 5px 6px transparent;
        border: solid 1px #d6bd322f;
    }

    .brewery:hover {
        box-shadow: 0px 0px 5px 6px rgba(98, 116, 158, 0.603);
        transition: 1s ease;
    }

    .brewery h3 {
        border-bottom: 1px solid rgba(255, 255, 255, 0.815);
        padding-bottom: 15px;
        margin-bottom: 10px;
    }

    .brewery h3:hover {
        text-decoration: underline #a18f26;
    }

    .brewery a {
        text-decoration: none;
        color:#f0d43a;
        text-align: center;
    }

    .brewery p {
        /*color: #f23557;*/
        color:#D16F20;
        text-align: center;
        margin-top: 0px;
    }
}