/* Styles for everything */
* {
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    padding: 10px;
    margin: 5px;
    display: flexbox;
    justify-content: center;
}

/* HEADER */
#main_header {
    background: #595959;
    padding: 1px;
}

#main-nav {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

#main-nav a {
    text-decoration: none;
    color: white;
}
/* END HEADER */

#main-content-sections {
    display: flex;
}

.section {
    background: lightcoral;
    padding: 10px;
    flex-basis: 30%;
    margin: 10px;
}

.section h2 {
    color: black;
}

#first-col {
    background: #DAE3F3;
    flex: 1;
}

#first-col p {
    font-size: larger;
}

#second-col {
    background: #DAE3F3;
}

#sidebar-list {
    color: black;
    font-size: 25px;
}

/**/

/* Main Div */
#columns {
    display: flex;
    justify-content: space-evenly;
    
}

/* Two main sections */
.col-sections {
    background: #E2F0D9;
    display: flexbox;
    padding: 10px;
    border: solid #6780AC;
}

/* Nested Div */
#columns-2 {
    display: flex;
    justify-content: space-between;
    border: solid red;

}

/* Nested Columns */
.col-sections-inside {
    background: #4472C4;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 29px;
    border: solid pink;
}

.col-sections-inside h2 {
    text-align: center;
    font-size: small;
}

.imgs {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}


/* END DIV */

/* FOOTER */
#main_footer {
    background: #595959;
    padding: 10px;
}

#copy {
    color: white;
    text-align: center;
}

#address {
    text-align: right;
    color: white;
}
/* END FOOTER */