* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background: #E9E9E9;
}


.main-header, .main-content section, .three-cols section, .more-cols section, #main-footer {
    padding: 10px;
    margin: 5px;
}

#main-header {
    margin: 5px;
}

#main-header ul li {
    background: #88BBD6;
}

.main-content section {
    background: #99D3Df;
}

.more-cols section {
    background: #99D3Df;
    border: 2px solid #629497;
}

.three-cols section {
    background: #d1b8db;
    border: 2px solid #6a5872;
}

#main-footer {
    background: #88BBD6;
}

/* Nav Bar */
#main-nav ul {
    margin: 0px 0px;
    padding: 0px;
}
#main-nav li {
    background: #ffffff;
    list-style-type: none;
    text-align: center;
    padding: 10px 10px;
    margin: 1px 1px;
}

#main-nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

/* Headers */
#content h1 {
    text-align: center;
}

.main-content h1 {
    text-align: left;
}

.two-cols h2 {
    padding: 0px;
    margin: 0px;
}

.two-cols h3 {
    text-align: center;
}

.two-cols section h3 {
    color: white;
}

.three-cols {
    padding: 0px;
    padding-top: 10px;
}

#sidebar h2, #extra-flex h2 {
    margin: 0px;
    padding: 0px;
}

#extra-flex p {
    font-size: larger;
    padding-top: 20px;
    margin-bottom: 0px;
}

#sidebar ul {
    padding: 15px;
    margin-bottom: 0px;
}

#sidebar ul li {
    font-size: larger;
    margin: 5px;
}

#main-footer h3, #main-footer h4 {
    color: white;
}

@media(min-width:900px) {
    #main-nav, #main-nav ul, .main-content, .two-cols, .two-cols, .more-cols, .three-cols, #images {
        display: flex;
    }

    #main-nav ul, .main-content section, #main-nav ul li, .two-cols section, .more-cols section, .three-cols section, #images img {
        flex:1;
    }

    #man-nav li {
        justify-content: space-between;
    }

    #extra-flex {
        flex:3;
    }

    #images img {
        margin: 8px 8px;
        justify-content: space-around;
    }

    #main-footer h3 {
        text-align: center;
    }

    #main-footer h4 {
        text-align: end;
    }


}