/* Styles for all content */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin-left: 10%;
    margin-right: 10%;
    background: #dad8d8;
}
/* End of Styles for all content */

/* Margins, backgrounds, borders, padding */
.main-header, .main-content section, .nested-cols section, .center-cols-nested section, #main-footer, #image {
    padding: 10px;
    margin: 5px;
}

#main-header {
    margin: 5px;
}

#main-header ul li {
    background: #7572a0;
}

.main-content section {
    background: #a5b7e6;
}

.center-cols-nested section {
    background: #a5b7e6;
    border: 2px solid #69789e;
}

.nested-cols section {
    background: #8570a1;
    border: 2px solid #4e3d64;
}

#main-footer {
    background: #7572a0;
    padding: 1px 10px;
}

#main-footer h3, #main-footer h4 {
    margin: 15px;
}

.nested-cols {
    padding: 0px;
    padding-top: 10px;
}

#sidebar ul {
    padding: 15px;
    margin-bottom: 0px;
}
/* End of Margins, backgrounds, borders, padding */

/* Nav Bar */
#main-nav ul {
    margin: 0px 0px;
    padding: 0px;
}
#main-nav li {
    background: #ffffff;
    list-style-type: none;
    text-align: center;
    padding: 10px 10px;
    margin: 1px 1px;
}

#main-nav a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}
/* End of Nav Bar */

/* Headers & Text */
#content h1 {
    text-align: center;
}

.main-content h1 {
    text-align: left;
}

.center-cols h2 {
    padding: 0px;
    margin: 0px;
}

.center-cols h3 {
    text-align: center;
}

.center-cols section h3 {
    color: white;
}

#sidebar h2, #extra-flex h2 {
    margin: 0px;
    padding: 0px;
}

#extra-flex p {
    font-size: larger;
    padding-top: 20px;
    margin-bottom: 0px;
}

#main-footer h3, #main-footer h4 {
    color: white;
}

#sidebar ul li {
    font-size: larger;
    margin: 5px;
}
/* End of Headers & Text */

/* Desktop display */
@media(min-width:900px) {
    #main-nav, #main-nav ul, .main-content, .center-cols, .center-cols, .center-cols-nested, .nested-cols, #images, .assign-sep {
        display: flex;
    }

    #main-nav ul, .main-content section, #main-nav ul li, .center-cols-nested, .center-cols section, .center-cols-nested section, .nested-cols section, #images img {
        flex:1;
    }

    .picture {
        display: block;
        justify-content: center;
    }

    .assign-sep {
        justify-content: center;
    }

    #man-nav li {
        justify-content: space-between;
    }

    #extra-flex {
        flex:3;
    }

    #images img {
        margin: 8px 8px;
        justify-content: space-around;
    }

    #main-footer h3 {
        text-align: center;
    }

    #main-footer h4 {
        text-align: end;
    }
    /* End of Desktop display */
}